name: demo
on:
    pull_request: 
        branches: 
        - 'main'
jobs:
    job1:
        runs-on: ubuntu-latest
        steps:
        - name: step1
          run: echo "${{ github.ref }}"